.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

.secondary-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.filter-button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
}

.filter-button:hover {
  background: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  text-decoration: none;
}

.navigation:hover {
  color: #2196f3;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.contact-links-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  text-decoration: none;
}

.contact-links-header:hover {
  color: #2196f3;
}

.background-dark {
  background: #2f303a;
}

.city-street {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
}

.contact-links-footer {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.hero-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.tertiary-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.tertiary-heading-content {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.john-doe {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.john-doe-job {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.list {
  list-style-type: none;
}
